<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="user"
        [(ngModel)]="user"
        name="user"
        placeholder="User"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
    </form>
  </div>